@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@100&family=Manrope:wght@200&family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Hind:wght@300&family=Josefin+Sans:wght@100&family=Manrope:wght@200&family=Pragati+Narrow&display=swap');

$themeClr:#05235D;
$background:#052460;
$linearG:linear-gradient(#010B1D, #03183F,#052157);
$white:white;
$text:#555555;
$footerBackgroundClr:linear-gradient(#5E6164, #4f5666);
$navText:#A0A3A7;
$textClr:#7C828A;
$white:white;
$textFont: inherit;

